<p id="notice"><%= notice %></p>


<p>
  <strong>Artist ID:</strong>
  <%= @artist.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @artist.about %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @artist.contact %>
</p>

<p>
  <strong>Url:</strong>
  <%= @artist.url %>
</p>




<%= link_to 'Add new product', new_product_path%>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
